@import url("https://fonts.googleapis.com/css?family=Rajdhani|Encode+Sans+Expanded");
body {
     background-color: #FEFEFE;
     font-size: 20px;
 }
h3 {
	font-size: 1.75em;
	text-align: center;
	font-family: Rajdhani;
}

a {
	color: rgb(100,10,5);
	text-decoration: none;
}
a:hover {color: pink;
}

nav {width:40em;
	margin:0em auto;
	font-family: Rajdhani;
	font-size: 1.4em;
	padding: 1em, 1em;
	letter-spacing: 3px;
/*	background-color: #E8C66A;
    border: 1px black solid;*/
     text-align: center;
}

header {/*background-color: #FFED74;
 border: 1px black solid;*/
}
footer {background-color: #FF957E;
		border: 1px black solid;
		text-align: left;
		font-family: "Encode Sans Expanded";
		font-size: 0.5em;
		line-height: 1.5em;
		padding: 2em;

}
.para {
	text-align: left;
	font-family: "Encode Sans Expanded";
	line-height: 1.5em;
	padding: 1em;
	color: #120010;
	background-color: #FFE2B8;
	border: 1px black solid;
}
.title {font-size: 2.1em;
	font-weight: 100;
	text-align: center;
	font-family: "Encode Sans Expanded";
}
.sup {font-size: 1.25em;
	font-weight: 100;
	text-align: center;
	font-family: Rajdhani; 
}
.one {
	width: 32%;
	padding: 0.25em;

}
.pitok {width: 33%;
		float: left;
		padding: 1em 2em;}
.test { text-align: center;
		width: 100%;
		margin: 0 auto;

}
.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}
.clear  {
	clear: both; 
}
#wrapper {
	width: 1080px;
	margin: 0 auto;
	background-color: #fff;
}
#two_column {
    background-color: #FFB7CF;
    border: 1px black solid;
    padding: 20px;
}

#left {
    background-color: violet;
    border: 1px black solid;
    padding: 20px;
    float: left;
    width: 30%;
}

#right {
    background-color: pink;
    border: 1px black solid;
    padding: 20px;
    float: right;   
    width: 61%;
}