@import url("https://fonts.googleapis.com/css?family=Orbitron|Encode+Sans+Expanded");
body {
     background-color: #FEFEFE;
     font-size: 20px;
 }
h3 {
	font-size: 1.75em;
	text-align: center;
	font-family: Orbitron;
}

a {
	color: rgb(120,10,0);
	text-decoration: none;
}
nav {width:40em;
	margin:0em auto;
	font-family: Orbitron;
	font-size: 1.1em;
	padding: 1em, 1em;
	letter-spacing: 3px;
	background-color: #E8C66A;
    border: 1px black solid;
}

header {background-color: #FFED74;
 border: 1px black solid;
}
footer {background-color: #FF957E;
		border: 1px black solid;
		text-align: left;
		font-family: "Encode Sans Expanded";
		font-size: 0.5em;
		line-height: 1.5em;
		padding: 2em;

}
.para {
	text-align: left;
	font-family: "Encode Sans Expanded";
	line-height: 1.5em;
	padding: 1em 0em;
	color: #120010;
	width: 33%;
	float: left;
	border: 1px black solid;
	}
.title {font-size: 2.3em;
	font-weight: 200;
	text-align: center;
	font-family: "Encode Sans Expanded";
}
.sup {font-size: 1.25em;
	font-weight: 100;
	text-align: center;
	font-family: Orbitron; 
}
.one {
	width: 32%;
	padding: 0.25em;

}
.pitok {width: 33%;
		float: left;
		padding: 1em 2em;}
.test { text-align: center;
		width: 100%;
		margin: 0 auto;

}
#wrapper {
	width: 1080px;
	margin: 0 auto;
	background-color: #fff;
}