@import url("https://fonts.googleapis.com/css?family=Orbitron|Roboto:300");
body {
     background-color: #8BA7AD;
 }
	

.para {
	font-size: 1.25em;
	text-align: center;
	font-family: Orbitron;
}
.title {font-size: 2.5em;
	font-weight: bolder;
	text-align: center;
	font-family: Roboto;
}
.sup {font-size: 30px;
	font-weight: bolder;
	text-align: center;
	font-family: Orbitron; 
}
.list {
	text-align: left;
	color: #0000ff;
	font-family: "Lucida Console";
}
a {
	color: rgb(120,10,0);
	text-decoration: none;
}
img {width: 100%	
}
#one {
	width: 33.3%
}