body {
     background-color: #8BA7AD;
}
.para {
	text-align: center;
	color: #0000ff;
	font-family: "Lucida Console";
}
.title {font-size: 60px;
	font-weight: bolder;
	text-align: center;
	font-family: "Lucida Console";
}
.sup {font-size: 30px;
	font-weight: bolder;
	text-align: center;
	font-family: "Lucida Console";
	font-style: italic; 
}
.list {
	text-align: left;
	color: #0000ff;
	font-family: "Lucida Console"
}
