@import url("https://fonts.googleapis.com/css?family=Orbitron|Roboto|Encode+Sans+Expanded");
body {
     background-color: #FEFEFE;
     font-size: 20px;
 }
h3 {
	font-size: 1.75em;
	text-align: center;
	font-family: Orbitron;
}	

.para {
	text-align: left;
	font-family: "Encode Sans Expanded";
	line-height: 1.5em;
	padding: 20px 50px 20px 50px;
	color: #120010;
}
.title {font-size: 2.5em;
	font-weight: 300;
	text-align: center;
	font-family: "Encode Sans Expanded";
}
.sup {font-size: 1.25em;
	font-weight: bolder;
	text-align: center;
	font-family: Orbitron; 
}
.list {
	text-align: left;
	color: #0000ff;
	font-family: "Lucida Console";
}
a {
	color: rgb(120,10,0);
	text-decoration: none;
}

.one {
	width: 28%;
}